#root{
    max-width: 600px;
    padding: 0 15px;
    margin:  0 auto;
    border: 10px solid #abb6c8;
    border-radius: 10px;
    background-color: #dadada;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.button{
  padding: 10px;
  border: 3px solid #abb6c8;
  border-radius: 10px;
  background-color: #5d7599;
  cursor: pointer;
}

.button:hover{
    
    border: 3px solid #5d7599;
    background-color:  #abb6c8;
    
  }
  
  .formAdd{
    display: flex;
    gap: 10px;
  }

.header__addInput{
    padding: 10px;
    border: 3px solid #abb6c8;
  border-radius: 10px;
  width: 300px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.completed__label,
.all__label {
    color: #22223b;
}

.nav__searchInput{
    padding: 10px;
    border: 3px solid #abb6c8;
  border-radius: 10px;
}

.nav__button{
  padding: 10px;
  border: 3px solid #abb6c8;
  border-radius: 10px;
  background-color: #5d7599;
  cursor: pointer;
}

.nav__button:hover{
    border: 3px solid #5d7599;
    background-color:  #abb6c8;
  }

.container{
    padding: 15px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.toDo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #abb6c8;
    border-radius: 10px;
    padding: 10px;
}

.toDo__check{
appearance: none;
position: absolute;
}

.toDo__toDoLabel{
    padding-left: 150px;
    display: flex;
    justify-content: space-around;
    color: #22223b;
}

.toDo__check-box{
    position: absolute;
    margin-top: -4px;
    margin-left: -300px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #dadada;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 3px #abb6c8;
}

.toDo__check:checked + .toDo__check-box {
    background-color: #5d7599;
    background-image: url(img/icons8-check.svg);
   
}

.checked{
    
    background-color: #abb6c8;
}

.checked--text{
    text-decoration: line-through;
    
}

.toDo__check:focus + .toDo__check-box {
    box-shadow: 0 0 0 3px #abb6c8,0 0 0 4px #22223b;
}

.toDo__button,.edit__button{
    padding: 5px;
    border: 3px solid #abb6c8;
    border-radius: 10px;
    background-color: #5d7599;
    cursor: pointer;  
}

.toDo__button:hover,.edit__button:hover{
    
    border: 3px solid #5d7599;
    background-color:  #abb6c8;
    
  }



.toDoNav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.todo__label{
    color: #22223b;
}